
.calculator {
  max-width: 350px;
  margin: 50px auto;

  ion-input {
      width: calc(100% - 15px);
      height: 60px;
      margin-bottom: 10px;
      font-size: 20px;
      text-align: right;
      border-radius: 5px;
      padding: 5px;
      box-sizing: border-box;
  }

  ion-row {
      margin-bottom: 10px;
  }
  ion-col {
      padding: 0 10px;
  }
}
