:host {
    --ion-background-color: #8ebeac;
    --ion-text-color: #ffffff;
}

.signUp-form {
    max-width: 320px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    background: #469292;
    margin-top: 110px;
  
}
  
ion-button {
    --background: #4cc9ce;
    --border-radius: 5px;
}


