<ion-header>
  <ion-toolbar>
    <ion-title>Developers Portfolio</ion-title>
  </ion-toolbar>
</ion-header>


  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content >
  <ion-img src="assets/img/pic.jpg" style="display: block; margin-top: 30px; height: 200px;" alt="profile pic"></ion-img>
  
  <div id="container">
    <ion-title><h1>Kristine Jose <ion-icon name="heart" aria-hidden="true"></ion-icon></h1></ion-title>
  </div>


  <ion-card class="card" >
    <ion-card-header>
      <ion-card-title></ion-card-title>
        <ion-card-subtitle>I' am Kristine Joy B. Jose.  An undergraduate Information Technology Student from the Pamantasan
          ng Lungsod ng Valenzuela. With a passion and drive for success.</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  
  
  <ion-card >
    <ion-card-header>
      <ion-card-title>Hobbies</ion-card-title>
    </ion-card-header>
  
    <ion-card-content> Crochet, Watching Horror Moives, and recently i'm into adobe illustrator and Photoshop exploring it.</ion-card-content>
  </ion-card>

  <ion-card >
    <ion-card-header>
      <ion-card-title>HOW DO YOU SEE YOURSELF IN 5 YRS?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content> In 5 years i wanna see myself growing up as person. Have a stable job or owning a business so i can give
      what my mothers want. I wanna see myself doing what i love in the carrer or path that i choose. And I'll comeback to this 
      activity if that happens. </ion-card-content>
  </ion-card>

  <ion-card >
    <ion-card-header>
      <ion-card-title>STRENGTHS & WEAKNESS</ion-card-title>
    </ion-card-header>
  
    <ion-card-content> Strength: Always on time in everything, Adaptability, and strong Communication skills.
    </ion-card-content>
    <ion-card-content> Weakness: Sometimes I get too focused on perfection, which can slow down my progress.
    </ion-card-content>
  </ion-card>

  <ion-card >
    <ion-card-header>
      <ion-card-title>MOTTO</ion-card-title>
    </ion-card-header>
    <ion-card-content> Accept that everyone leaves and It's always darkest before dawn. </ion-card-content>
  </ion-card>

  <ion-card >
    <ion-card-header>
      <ion-card-title>LOVE LANGUAGE</ion-card-title>
    </ion-card-header>
    <ion-card-content> Gift Giving and Physical Touch, cause im clingy giving hug can be a stress reliever and 
      i want him or her to always rememder that i'm always here. </ion-card-content>
  </ion-card>

  <ion-card >
    <ion-card-header>
      <ion-card-title>Food</ion-card-title>
    </ion-card-header>
    <ion-card-content> Kare-Kare because all in one ako mag mahal. </ion-card-content>
  </ion-card>

  <ion-card > 
    <ion-card-header>
      <ion-card-title>Pet Peeve</ion-card-title>
    </ion-card-header>
    <ion-card-content> When people are late and being ignored. </ion-card-content>
  </ion-card>
  
</ion-content>
