
:host {
    --ion-background-color: #1e1e1e;
    --ion-text-color: #ffffff;
}.my-card {
    ion-card-header {
      background-color: rgb(20, 129, 65);
  
      ion-card-title {
        color: rgb(234, 234, 245);
      }
    }
  }
.card{
    ion-card-header {
        background-color: rgb(39, 180, 98);
    
        ion-card-title {
          color: rgb(247, 247, 247);
        }
      }
}
.cards{
    ion-card-header {
        background-color: rgb(20, 65, 39);
    
        ion-card-title {
          color: rgb(255, 255, 255);
        }
      }

}
ion-title h3 {
  text-align: center;
}





  