:host {
  --ion-background-color: #8ebeac;
  --ion-text-color: #ffffff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

ion-card {
  width: 100%;
  margin-bottom: 20px;
}

ion-card-header {
  background-color: #1e584a;
}

ion-item {
  margin-bottom: 10px;
}

ion-button {
  margin-top: 10px;
  --background: #7eb1a0;

}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #468092;
}

tr:hover {
  background-color: #211f3f;
}
